@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    background-color: rgb(13,13,13);
    color:rgb(204,204,204);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
} 

#menu{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

input, select, button {
    font-family: 'Press Start 2P', cursive;
    color: rgb(204,204,204);
}

input {
    width: 80%;
}

button:hover {
    background-color: rgb(50,50,50);
}

button:active {
    background-color: white;
}
table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blue-border {
    border: 2px solid rgb(0, 255, 255);
    border-radius: 8px;
    background-color: transparent;
    padding: 10px;
}
td {
    border: 2px solid rgb(0, 255, 255);
    border-radius: 8px;
    background-color: white;
    width: 4rem;
    height: 4rem;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#left{
    position: absolute;
    left: 0;
}
aside{
    text-align: center;
}

.red{
    border: red;
    outline: 3px solid red;
}

[hidden] {
    display: none !important;
}

#tooltip {
    display: none;
    position: absolute;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-transform: none;
    border-radius: 10px;
    text-align: center; 
    padding-left: 2rem;
    padding-right: 2rem;
    
}

#tooltip img {
    width: 40rem;
}

#gameover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(255, 1, 127);
    border-radius: 15px; /* Lekerekített szélek */
    background-color: rgba(0, 0, 0, 0.8); /* Fekete, áttetsző háttér */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    gap: 15px; /* Különbség a gombok között */
}








  